// Mixins Here
.custom-btn(@bg-color, @txt-color, @size-txt){
    background-color: @bg-color;
    color: @txt-color;
    font-size: @size-txt;
    text-align: center;
    border-radius: .5rem;
	padding: .8rem 0;
	width: 30%;
}